<nav class="p-3 mb-2 bg-info text-white">
    <a class="navbar-brand" href="#">  
    <a >My Sports App</a>
    </a>
    <div class="btn-group">
        <button type="button" class="btn btn-info" routerLinkActive="active" routerLink="/player-home">Home</button>
        <button type="button" class="btn btn-info" routerLinkActive="active" routerLink="/all-booking" >My Bookings</button>
        <button type="button" class="btn btn-info" routerLinkActive="active" routerLink="/add-booking">Book Facility</button>
        <button type="button" class="btn btn-info" routerLinkActive="active" routerLink="/my-profile">My Profile</button>
        <button type="button"  id="end1" class="btn btn-info" routerLinkActive="active" routerLink="/log-out" >LogOut</button>
    </div>
  </nav>
  