input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .imgcontainer {
    margin-top: 50 px;
    text-align: left;
    position: relative;
  }
  .container {
    padding: 16px;
    margin-left: 400px;
    margin-right: 200px;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }

 
  .msg{
    color: red;
  }